[submodule "data/Frequency-List-of-Written-Finnish-Word-Forms"]
	path = data/Frequency-List-of-Written-Finnish-Word-Forms
	url = https://github.com/btbroot/Frequency-List-of-Written-Finnish-Word-Forms.git
